body {
  background-color: rgb(228, 228, 228)!important;
}

h4 {
  font-size: 16px
}

nav ul {
  height: 20px;
}

nav ul li {
  font-size: 14px;
}

nav ul li a {
  padding: 2px;
}

.nav-logo img {
  border-radius: 4px;
}

.icons img {
  margin: 0 5px;
}

.icons span p {
  color: white;
  font-size: 10px;
}




/* HEADERS (all) */
.header-section {
  display: flex;
  align-content: baseline;
}

.header-section img{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header-section h4{
  font-size: 16px;
}



/* CAROUSEL */
.carousel-inner-header p{
  font-size: 28px;
}

.carousel-caption-header h5, .carousel-caption-header p {
  font-size: 28px;
}

.carousel-caption-header.right-side button {
  font-size: 16px;
}

.carousel-caption-header .right-side {
  align-items: center;
}





.suggestions {
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: flex;
  justify-content: space-between;
}

.card-bunch-of-games > img {
  height: 133px;
}

.tech-icon-resize {
  height: 16px;
  width: 16px;
}

.tech-icon-combo {
  width: 55px;
}




/* GOG */
.GOG p{
  font-size: 14px;
  position: relative;
}

.GOG > p::after{
  content: "";
  border: 0.9px solid rgb(227, 227, 227);
  position: absolute;
  top: 5px;
  right: -50px;
  height: 35px;
}

.GOG a p {
  color: #D522B9;
  text-decoration: none;
}


/* NOW ON SALE */
/* nav */
.sale-nav a{
  color: lightgrey;
}

.sale-nav a:hover{
  color: #D522B9;
  border-bottom: 5px solid #D522B9;
}

#active {
  color: #D522B9!important;
}

/* cards */
.sale-img {
  width: 256px;
  height: 450px;
  opacity: 0.8;
}

.orange-bg {
  background-color: rgb(197, 138, 29);
  position: relative;
}

.orange-bg h5 {
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20%;
  top: 50px;
  font-size: 25px;
}

.orange-bg p {
  color:rgb(221, 193, 33);
  font-weight: 700;
  position: absolute;
  left: 25px;
  top: 250px;
  font-size: 25px;
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.orange-bg p b{
  color:rgb(221, 193, 33);
  font-weight: 700;
  font-size: 62px;
}



/* WHAT'S NEW? */





/* RECOMMENDED FOR YOU */
