nav ul {
  height: 20px;
}

nav ul li {
  font-size: 14px;
}

nav ul li a {
  padding: 2px;
}

.nav-logo img {
  border-radius: 4px;
}

.icons img {
  margin: 0 5px;
}

.icons span p {
  color: white;
  font-size: 10px;
}